img {
  user-select: none;
}
div {
  box-sizing: content-box;
}
.pileArea {
  width: 100%;
  height: 204.8px;
  display: flex;
  padding-top: 10px;
}
.pileArea .pileArea-con {
  flex: 1;
}
.combateArea {
  width: 100%;
  height: 286.72px;
  display: flex;
}
.combateArea div {
  flex: 1;
}
.combateArea .enemy {
  position: relative;
  width: 146.4px;
  height: 204.8px;
  border-radius: 8px;
  margin: 30px auto;
}
.combateArea .enemy .bg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #fff;
  transform: translateZ(1px);
}
.handArea {
  position: relative;
  width: 100%;
  height: 204.8px;
}
.handArea .hand {
  position: relative;
  border-radius: 8px;
  height: 204.8px;
  width: 391.4px;
  background-color: #fff;
  margin: 0 auto;
}
.handArea .hand .confirmIcon,
.handArea .hand .cancelIcon {
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.5s;
  position: absolute;
  font-family: 'icomoon';
  font-size: 20px;
  color: #aa3933;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  right: 0;
  top: 25px;
  user-select: none;
}
.handArea .hand .cancelIcon {
  top: 75px;
  font-size: 16px;
  color: #1a0903;
}
.handArea .hand .card {
  transform: rotateY(180deg);
  visibility: hidden;
}
.handArea .hand .bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  transform: translateZ(1px);
}
.handArea .hand .card:nth-of-type(5) {
  left: 35px;
  z-index: 24;
}
.handArea .hand .card:nth-of-type(6) {
  left: 70px;
  z-index: 26;
}
.handArea .hand .card:nth-of-type(7) {
  left: 105px;
  z-index: 28;
}
.handArea .hand .card:nth-of-type(8) {
  left: 140px;
  z-index: 30;
}
.handArea .hand .card:nth-of-type(9) {
  left: 175px;
  z-index: 32;
}
.handArea .hand .card:nth-of-type(10) {
  left: 210px;
  z-index: 34;
}
.handArea .hand .card:nth-of-type(11) {
  left: 245px;
  z-index: 36;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 146.4px;
  height: 204.8px;
  transition: all 0.3s;
  transform-style: preserve-3d;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.card .cardBack,
.card .cardFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.card .cardBack img,
.card .cardFront img {
  width: 100%;
  height: 100%;
}
.card .cardBack {
  transform: translateZ(1px);
}
.card .cardFront {
  transform: rotateY(180deg);
}
.pile {
  margin: 0 auto;
  position: relative;
  width: 146.4px;
  height: 204.8px;
}
.pile:hover .remain {
  display: block;
}
.pile .bg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: url('../images/Back.png') no-repeat;
  opacity: 0.3;
  background-size: 146.4px 204.8px;
}
.pile .remain {
  display: none;
  z-index: 50;
  position: absolute;
  top: 5px;
  right: 7px;
  overflow: hidden;
}
.pile .remain div {
  float: left;
  width: 14.6px;
  height: 22.2px;
}
.pile .remain div img {
  height: 100%;
  width: auto;
  opacity: 0.8;
}
.pile .card {
  visibility: hidden;
}
.specialPile {
  display: none;
}
.pileArea .specialPileArea {
  flex: 0;
}
.blankArea .Vis {
  position: relative;
  width: 321.4px;
  height: 204.8px;
  background-color: #fff;
  border-radius: 8px;
  margin: 30px auto;
}
.blankArea .Vis .bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  transform: translateZ(1px);
}
.blankArea .Vis .card {
  visibility: hidden;
  transform: rotateY(180deg);
}
.blankArea .Vis .icon {
  width: 29.2px;
  height: 22.2px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
  transition: all 2s;
  text-align: center;
  overflow: hidden;
}
.blankArea .Vis .icon img {
  height: 80%;
  width: auto;
  transform: translateY(2.22px);
}
.blankArea .Vis .numIcon {
  width: 36.5px;
  height: 22.2px;
  top: 20.48px;
  transition: all 1s;
}
.blankArea .Vis .heart {
  top: 81.92px;
  transition: all 1.5s;
}
.blankArea .Vis .diamond {
  top: 112.64px;
  transition: all 2s;
}
.blankArea .Vis .spade {
  top: 143.36px;
  transition: all 2.5s;
}
.blankArea .Vis .club {
  top: 174.08px;
  transition: all 3s;
}
.Vis .card:nth-child(7) {
  left: 35px;
  z-index: 2;
}
.Vis .card:nth-child(8) {
  left: 70px;
  z-index: 4;
}
.Vis .card:nth-child(9) {
  left: 105px;
  z-index: 6;
}
.Vis .card:nth-child(10) {
  left: 140px;
  z-index: 8;
}
.specialPile .card {
  transform: rotateY(180deg);
}
.enemy .card {
  visibility: hidden;
  transform: rotateY(180deg);
}
.icon {
  width: 43.8px;
  height: 22.2px;
  position: absolute;
  right: 0;
  overflow: hidden;
  border-radius: 0 8px 8px 0;
  transition: all 0.6s;
}
.icon div {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #fff;
  text-align: center;
}
.icon div img {
  margin: 0 auto;
  width: auto;
  height: 80%;
  transform: translateY(2.22px);
}
.icon .k10 {
  width: 10%;
}
.attackIcon {
  top: 25px;
}
.heartIcon {
  top: 55px;
  transition: all 0.8s;
}
.animateCard {
  display: none;
  top: 0;
  left: 100px;
  transition: none;
}
.noticeBoard {
  display: none;
  position: absolute;
  top: 502px;
  left: 0;
  width: 160px;
  height: 200px;
}
.noticeBoard div {
  transition: all 0.6s;
  display: block;
  background-color: #fff;
  width: 80%;
  height: 20px;
  border-radius: 10px;
  margin: 0px auto 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
