body {
  background-color: #eee;
  perspective: 800px;
  perspective-origin: 50% 50%;
  min-width: 1028px;
}
.main {
  position: relative;
  width: 100%;
}
.mainTable {
  background-color: #eee;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
}
